.col-0 {
  display: none; }

.col-1, .col-1-center, .col-1-left, .col-1-justify, .col-1-right {
  width: 8.33%; }

.col-min-1 {
  min-width: 8.33%; }

.col-max-1 {
  max-width: 8.33%; }

.col-2, .col-2-center, .col-2-left, .col-2-justify, .col-2-right {
  width: 16.66%; }

.col-min-2 {
  min-width: 16.66%; }

.col-max-2 {
  max-width: 16.66%; }

.col-3, .col-3-center, .col-3-left, .col-3-justify, .col-3-right {
  width: 25%; }

.col-min-3 {
  min-width: 25%; }

.col-max-3 {
  max-width: 25%; }

.col-4, .col-4-center, .col-4-left, .col-4-justify, .col-4-right {
  width: 33.33%; }

.col-min-4 {
  min-width: 33.33%; }

.col-max-4 {
  max-width: 33.33%; }

.col-5, .col-5-center, .col-5-left, .col-5-justify, .col-5-right {
  width: 41.66%; }

.col-min-5 {
  min-width: 41.66%; }

.col-max-5 {
  max-width: 41.66%; }

.col-6, .col-6-center, .col-6-left, .col-6-justify, .col-6-right {
  width: 50%; }

.col-min-6 {
  min-width: 50%; }

.col-max-6 {
  max-width: 50%; }

.col-7, .col-7-center, .col-7-left, .col-7-justify, .col-7-right {
  width: 58.33%; }

.col-min-7 {
  min-width: 58.33%; }

.col-max-7 {
  max-width: 58.33%; }

.col-8, .col-8-center, .col-8-left, .col-8-justify, .col-8-right {
  width: 66.66%; }

.col-min-8 {
  min-width: 66.66%; }

.col-max-8 {
  max-width: 66.66%; }

.col-9, .col-9-center, .col-9-left, .col-9-justify, .col-9-right {
  width: 75%; }

.col-min-9 {
  min-width: 75%; }

.col-max-9 {
  max-width: 75%; }

.col-10, .col-10-center, .col-10-left, .col-10-justify, .col-10-right {
  width: 83.33%; }

.col-min-10 {
  min-width: 83.33%; }

.col-max-10 {
  max-width: 83.33%; }

.col-11, .col-11-center, .col-11-left, .col-11-justify, .col-11-right {
  width: 91.66%; }

.col-min-11 {
  min-width: 91.66%; }

.col-max-11 {
  max-width: 91.66%; }

.col-12, .col-12-center, .col-12-left, .col-12-justify, .col-12-right {
  width: 100%; }

.col-min-12 {
  min-width: 100%; }

.col-max-12 {
  max-width: 100%; }

.col-1, .col-min-1, .col-max-1, .col-1-center, .col-1-left, .col-1-right, .col-1-justify, .col-2, .col-min-2, .col-max-2, .col-2-center, .col-2-left, .col-2-right, .col-2-justify, .col-3, .col-min-3, .col-max-3, .col-3-center, .col-3-left, .col-3-right, .col-3-justify, .col-4, .col-min-4, .col-max-4, .col-4-center, .col-4-left, .col-4-right, .col-4-justify, .col-5, .col-min-5, .col-max-5, .col-5-center, .col-5-left, .col-5-right, .col-5-justify, .col-6, .col-min-6, .col-max-6, .col-6-center, .col-6-left, .col-6-right, .col-6-justify, .col-7, .col-min-7, .col-max-7, .col-7-center, .col-7-left, .col-7-right, .col-7-justify, .col-8, .col-min-8, .col-max-8, .col-8-center, .col-8-left, .col-8-right, .col-8-justify, .col-9, .col-min-9, .col-max-9, .col-9-center, .col-9-left, .col-9-right, .col-9-justify, .col-10, .col-min-10, .col-max-10, .col-10-center, .col-10-left, .col-10-right, .col-10-justify, .col-11, .col-min-11, .col-max-11, .col-11-center, .col-11-left, .col-11-right, .col-11-justify, .col-12, .col-min-12, .col-max-12, .col-12-center, .col-12-left, .col-12-right, .col-12-justify {
  border: none;
  box-sizing: border-box;
  display: inline-block;
  float: none;
  margin-right: -.25em;
  padding-left: .5rem;
  padding-right: .5rem;
  vertical-align: top; }

.col-1-center, .col-2-center, .col-3-center, .col-4-center, .col-5-center, .col-6-center, .col-7-center, .col-8-center, .col-9-center, .col-10-center, .col-11-center, .col-12-center {
  text-align: center; }

.col-1-left, .col-2-left, .col-3-left, .col-4-left, .col-5-left, .col-6-left, .col-7-left, .col-8-left, .col-9-left, .col-10-left, .col-11-left, .col-12-left {
  text-align: left; }

.col-1-right, .col-2-right, .col-3-right, .col-4-right, .col-5-right, .col-6-right, .col-7-right, .col-8-right, .col-9-right, .col-10-right, .col-11-right, .col-12-right {
  text-align: right; }

.col-1-justify, .col-2-justify, .col-3-justify, .col-4-justify, .col-5-justify, .col-6-justify, .col-7-justify, .col-8-justify, .col-9-justify, .col-10-justify, .col-11-justify, .col-12-justify {
  text-align: justify; }

.col-min-1, .col-max-1, .col-min-2, .col-max-2, .col-min-3, .col-max-3, .col-min-4, .col-max-4, .col-min-5, .col-max-5, .col-min-6, .col-max-6, .col-min-7, .col-max-7, .col-min-8, .col-max-8, .col-min-9, .col-max-9, .col-min-10, .col-max-10, .col-min-11, .col-max-11, .col-min-12, .col-max-12 {
  width: auto; }

.col-v-1 {
  height: 8.33%;
  height: 8.33vh; }

.col-v-min-1 {
  min-height: 8.33%;
  min-height: 8.33vh; }

.col-v-max-1 {
  max-height: 8.33%;
  max-height: 8.33vh; }

.col-v-2 {
  height: 16.66%;
  height: 16.66vh; }

.col-v-min-2 {
  min-height: 16.66%;
  min-height: 16.66vh; }

.col-v-max-2 {
  max-height: 16.66%;
  max-height: 16.66vh; }

.col-v-3 {
  height: 25%;
  height: 25vh; }

.col-v-min-3 {
  min-height: 25%;
  min-height: 25vh; }

.col-v-max-3 {
  max-height: 25%;
  max-height: 25vh; }

.col-v-4 {
  height: 33.33%;
  height: 33.33vh; }

.col-v-min-4 {
  min-height: 33.33%;
  min-height: 33.33vh; }

.col-v-max-4 {
  max-height: 33.33%;
  max-height: 33.33vh; }

.col-v-5 {
  height: 41.66%;
  height: 41.66vh; }

.col-v-min-5 {
  min-height: 41.66%;
  min-height: 41.66vh; }

.col-v-max-5 {
  max-height: 41.66%;
  max-height: 41.66vh; }

.col-v-6 {
  height: 50%;
  height: 50vh; }

.col-v-min-6 {
  min-height: 50%;
  min-height: 50vh; }

.col-v-max-6 {
  max-height: 50%;
  max-height: 50vh; }

.col-v-7 {
  height: 58.33%;
  height: 58.33vh; }

.col-v-min-7 {
  min-height: 58.33%;
  min-height: 58.33vh; }

.col-v-max-7 {
  max-height: 58.33%;
  max-height: 58.33vh; }

.col-v-8 {
  height: 66.66%;
  height: 66.66vh; }

.col-v-min-8 {
  min-height: 66.66%;
  min-height: 66.66vh; }

.col-v-max-8 {
  max-height: 66.66%;
  max-height: 66.66vh; }

.col-v-9 {
  height: 75%;
  height: 75vh; }

.col-v-min-9 {
  min-height: 75%;
  min-height: 75vh; }

.col-v-max-9 {
  max-height: 75%;
  max-height: 75vh; }

.col-v-10 {
  height: 83.33%;
  height: 83.33vh; }

.col-v-min-10 {
  min-height: 83.33%;
  min-height: 83.33vh; }

.col-v-max-10 {
  max-height: 83.33%;
  max-height: 83.33vh; }

.col-v-11 {
  height: 91.66%;
  height: 91.66vh; }

.col-v-min-11 {
  min-height: 91.66%;
  min-height: 91.66vh; }

.col-v-max-11 {
  max-height: 91.66%;
  max-height: 91.66vh; }

.col-v-12 {
  height: 100%;
  height: 100vh; }

.col-v-min-12 {
  min-height: 100%;
  min-height: 100vh; }

.col-v-max-12 {
  max-height: 100%;
  max-height: 100vh; }

.col-v-min-1, .col-v-max-1, .col-v-min-2, .col-v-max-2, .col-v-min-3, .col-v-max-3, .col-v-min-4, .col-v-max-4, .col-v-min-5, .col-v-max-5, .col-v-min-6, .col-v-max-6, .col-v-min-7, .col-v-max-7, .col-v-min-8, .col-v-max-8, .col-v-min-9, .col-v-max-9, .col-v-min-10, .col-v-max-10, .col-v-min-11, .col-v-max-11, .col-v-min-12, .col-v-max-12 {
  height: auto; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

.col-offset-12 {
  margin-left: 100%; }

.col-xs-0 {
  display: none; }

.col-xs-1, .col-xs-1-center, .col-xs-1-left, .col-xs-1-justify, .col-xs-1-right {
  width: 8.33%; }

.col-min-xs-1 {
  min-width: 8.33%; }

.col-max-xs-1 {
  max-width: 8.33%; }

.col-xs-2, .col-xs-2-center, .col-xs-2-left, .col-xs-2-justify, .col-xs-2-right {
  width: 16.66%; }

.col-min-xs-2 {
  min-width: 16.66%; }

.col-max-xs-2 {
  max-width: 16.66%; }

.col-xs-3, .col-xs-3-center, .col-xs-3-left, .col-xs-3-justify, .col-xs-3-right {
  width: 25%; }

.col-min-xs-3 {
  min-width: 25%; }

.col-max-xs-3 {
  max-width: 25%; }

.col-xs-4, .col-xs-4-center, .col-xs-4-left, .col-xs-4-justify, .col-xs-4-right {
  width: 33.33%; }

.col-min-xs-4 {
  min-width: 33.33%; }

.col-max-xs-4 {
  max-width: 33.33%; }

.col-xs-5, .col-xs-5-center, .col-xs-5-left, .col-xs-5-justify, .col-xs-5-right {
  width: 41.66%; }

.col-min-xs-5 {
  min-width: 41.66%; }

.col-max-xs-5 {
  max-width: 41.66%; }

.col-xs-6, .col-xs-6-center, .col-xs-6-left, .col-xs-6-justify, .col-xs-6-right {
  width: 50%; }

.col-min-xs-6 {
  min-width: 50%; }

.col-max-xs-6 {
  max-width: 50%; }

.col-xs-7, .col-xs-7-center, .col-xs-7-left, .col-xs-7-justify, .col-xs-7-right {
  width: 58.33%; }

.col-min-xs-7 {
  min-width: 58.33%; }

.col-max-xs-7 {
  max-width: 58.33%; }

.col-xs-8, .col-xs-8-center, .col-xs-8-left, .col-xs-8-justify, .col-xs-8-right {
  width: 66.66%; }

.col-min-xs-8 {
  min-width: 66.66%; }

.col-max-xs-8 {
  max-width: 66.66%; }

.col-xs-9, .col-xs-9-center, .col-xs-9-left, .col-xs-9-justify, .col-xs-9-right {
  width: 75%; }

.col-min-xs-9 {
  min-width: 75%; }

.col-max-xs-9 {
  max-width: 75%; }

.col-xs-10, .col-xs-10-center, .col-xs-10-left, .col-xs-10-justify, .col-xs-10-right {
  width: 83.33%; }

.col-min-xs-10 {
  min-width: 83.33%; }

.col-max-xs-10 {
  max-width: 83.33%; }

.col-xs-11, .col-xs-11-center, .col-xs-11-left, .col-xs-11-justify, .col-xs-11-right {
  width: 91.66%; }

.col-min-xs-11 {
  min-width: 91.66%; }

.col-max-xs-11 {
  max-width: 91.66%; }

.col-xs-12, .col-xs-12-center, .col-xs-12-left, .col-xs-12-justify, .col-xs-12-right {
  width: 100%; }

.col-min-xs-12 {
  min-width: 100%; }

.col-max-xs-12 {
  max-width: 100%; }

.col-xs-1, .col-min-xs-1, .col-max-xs-1, .col-xs-1-center, .col-xs-1-left, .col-xs-1-right, .col-xs-1-justify, .col-xs-2, .col-min-xs-2, .col-max-xs-2, .col-xs-2-center, .col-xs-2-left, .col-xs-2-right, .col-xs-2-justify, .col-xs-3, .col-min-xs-3, .col-max-xs-3, .col-xs-3-center, .col-xs-3-left, .col-xs-3-right, .col-xs-3-justify, .col-xs-4, .col-min-xs-4, .col-max-xs-4, .col-xs-4-center, .col-xs-4-left, .col-xs-4-right, .col-xs-4-justify, .col-xs-5, .col-min-xs-5, .col-max-xs-5, .col-xs-5-center, .col-xs-5-left, .col-xs-5-right, .col-xs-5-justify, .col-xs-6, .col-min-xs-6, .col-max-xs-6, .col-xs-6-center, .col-xs-6-left, .col-xs-6-right, .col-xs-6-justify, .col-xs-7, .col-min-xs-7, .col-max-xs-7, .col-xs-7-center, .col-xs-7-left, .col-xs-7-right, .col-xs-7-justify, .col-xs-8, .col-min-xs-8, .col-max-xs-8, .col-xs-8-center, .col-xs-8-left, .col-xs-8-right, .col-xs-8-justify, .col-xs-9, .col-min-xs-9, .col-max-xs-9, .col-xs-9-center, .col-xs-9-left, .col-xs-9-right, .col-xs-9-justify, .col-xs-10, .col-min-xs-10, .col-max-xs-10, .col-xs-10-center, .col-xs-10-left, .col-xs-10-right, .col-xs-10-justify, .col-xs-11, .col-min-xs-11, .col-max-xs-11, .col-xs-11-center, .col-xs-11-left, .col-xs-11-right, .col-xs-11-justify, .col-xs-12, .col-min-xs-12, .col-max-xs-12, .col-xs-12-center, .col-xs-12-left, .col-xs-12-right, .col-xs-12-justify {
  border: none;
  box-sizing: border-box;
  display: inline-block;
  float: none;
  margin-right: -.25em;
  padding-left: .5rem;
  padding-right: .5rem;
  vertical-align: top; }

.col-xs-1-center, .col-xs-2-center, .col-xs-3-center, .col-xs-4-center, .col-xs-5-center, .col-xs-6-center, .col-xs-7-center, .col-xs-8-center, .col-xs-9-center, .col-xs-10-center, .col-xs-11-center, .col-xs-12-center {
  text-align: center; }

.col-xs-1-left, .col-xs-2-left, .col-xs-3-left, .col-xs-4-left, .col-xs-5-left, .col-xs-6-left, .col-xs-7-left, .col-xs-8-left, .col-xs-9-left, .col-xs-10-left, .col-xs-11-left, .col-xs-12-left {
  text-align: left; }

.col-xs-1-right, .col-xs-2-right, .col-xs-3-right, .col-xs-4-right, .col-xs-5-right, .col-xs-6-right, .col-xs-7-right, .col-xs-8-right, .col-xs-9-right, .col-xs-10-right, .col-xs-11-right, .col-xs-12-right {
  text-align: right; }

.col-xs-1-justify, .col-xs-2-justify, .col-xs-3-justify, .col-xs-4-justify, .col-xs-5-justify, .col-xs-6-justify, .col-xs-7-justify, .col-xs-8-justify, .col-xs-9-justify, .col-xs-10-justify, .col-xs-11-justify, .col-xs-12-justify {
  text-align: justify; }

.col-min-xs-1, .col-max-xs-1, .col-min-xs-2, .col-max-xs-2, .col-min-xs-3, .col-max-xs-3, .col-min-xs-4, .col-max-xs-4, .col-min-xs-5, .col-max-xs-5, .col-min-xs-6, .col-max-xs-6, .col-min-xs-7, .col-max-xs-7, .col-min-xs-8, .col-max-xs-8, .col-min-xs-9, .col-max-xs-9, .col-min-xs-10, .col-max-xs-10, .col-min-xs-11, .col-max-xs-11, .col-min-xs-12, .col-max-xs-12 {
  width: auto; }

.col-v-xs-1 {
  height: 8.33%;
  height: 8.33vh; }

.col-v-min-xs-1 {
  min-height: 8.33%;
  min-height: 8.33vh; }

.col-v-max-xs-1 {
  max-height: 8.33%;
  max-height: 8.33vh; }

.col-v-xs-2 {
  height: 16.66%;
  height: 16.66vh; }

.col-v-min-xs-2 {
  min-height: 16.66%;
  min-height: 16.66vh; }

.col-v-max-xs-2 {
  max-height: 16.66%;
  max-height: 16.66vh; }

.col-v-xs-3 {
  height: 25%;
  height: 25vh; }

.col-v-min-xs-3 {
  min-height: 25%;
  min-height: 25vh; }

.col-v-max-xs-3 {
  max-height: 25%;
  max-height: 25vh; }

.col-v-xs-4 {
  height: 33.33%;
  height: 33.33vh; }

.col-v-min-xs-4 {
  min-height: 33.33%;
  min-height: 33.33vh; }

.col-v-max-xs-4 {
  max-height: 33.33%;
  max-height: 33.33vh; }

.col-v-xs-5 {
  height: 41.66%;
  height: 41.66vh; }

.col-v-min-xs-5 {
  min-height: 41.66%;
  min-height: 41.66vh; }

.col-v-max-xs-5 {
  max-height: 41.66%;
  max-height: 41.66vh; }

.col-v-xs-6 {
  height: 50%;
  height: 50vh; }

.col-v-min-xs-6 {
  min-height: 50%;
  min-height: 50vh; }

.col-v-max-xs-6 {
  max-height: 50%;
  max-height: 50vh; }

.col-v-xs-7 {
  height: 58.33%;
  height: 58.33vh; }

.col-v-min-xs-7 {
  min-height: 58.33%;
  min-height: 58.33vh; }

.col-v-max-xs-7 {
  max-height: 58.33%;
  max-height: 58.33vh; }

.col-v-xs-8 {
  height: 66.66%;
  height: 66.66vh; }

.col-v-min-xs-8 {
  min-height: 66.66%;
  min-height: 66.66vh; }

.col-v-max-xs-8 {
  max-height: 66.66%;
  max-height: 66.66vh; }

.col-v-xs-9 {
  height: 75%;
  height: 75vh; }

.col-v-min-xs-9 {
  min-height: 75%;
  min-height: 75vh; }

.col-v-max-xs-9 {
  max-height: 75%;
  max-height: 75vh; }

.col-v-xs-10 {
  height: 83.33%;
  height: 83.33vh; }

.col-v-min-xs-10 {
  min-height: 83.33%;
  min-height: 83.33vh; }

.col-v-max-xs-10 {
  max-height: 83.33%;
  max-height: 83.33vh; }

.col-v-xs-11 {
  height: 91.66%;
  height: 91.66vh; }

.col-v-min-xs-11 {
  min-height: 91.66%;
  min-height: 91.66vh; }

.col-v-max-xs-11 {
  max-height: 91.66%;
  max-height: 91.66vh; }

.col-v-xs-12 {
  height: 100%;
  height: 100vh; }

.col-v-min-xs-12 {
  min-height: 100%;
  min-height: 100vh; }

.col-v-max-xs-12 {
  max-height: 100%;
  max-height: 100vh; }

.col-v-min-xs-1, .col-v-max-xs-1, .col-v-min-xs-2, .col-v-max-xs-2, .col-v-min-xs-3, .col-v-max-xs-3, .col-v-min-xs-4, .col-v-max-xs-4, .col-v-min-xs-5, .col-v-max-xs-5, .col-v-min-xs-6, .col-v-max-xs-6, .col-v-min-xs-7, .col-v-max-xs-7, .col-v-min-xs-8, .col-v-max-xs-8, .col-v-min-xs-9, .col-v-max-xs-9, .col-v-min-xs-10, .col-v-max-xs-10, .col-v-min-xs-11, .col-v-max-xs-11, .col-v-min-xs-12, .col-v-max-xs-12 {
  height: auto; }

.col-offset-xs-0 {
  margin-left: 0; }

.col-offset-xs-1 {
  margin-left: 8.33%; }

.col-offset-xs-2 {
  margin-left: 16.66%; }

.col-offset-xs-3 {
  margin-left: 25%; }

.col-offset-xs-4 {
  margin-left: 33.33%; }

.col-offset-xs-5 {
  margin-left: 41.66%; }

.col-offset-xs-6 {
  margin-left: 50%; }

.col-offset-xs-7 {
  margin-left: 58.33%; }

.col-offset-xs-8 {
  margin-left: 66.66%; }

.col-offset-xs-9 {
  margin-left: 75%; }

.col-offset-xs-10 {
  margin-left: 83.33%; }

.col-offset-xs-11 {
  margin-left: 91.66%; }

.col-offset-xs-12 {
  margin-left: 100%; }

@media all and (min-width: 576px) {
  .col-sm-0 {
    display: none; }
  .col-sm-1, .col-sm-1-center, .col-sm-1-left, .col-sm-1-justify, .col-sm-1-right {
    width: 8.33%; }
  .col-min-sm-1 {
    min-width: 8.33%; }
  .col-max-sm-1 {
    max-width: 8.33%; }
  .col-sm-2, .col-sm-2-center, .col-sm-2-left, .col-sm-2-justify, .col-sm-2-right {
    width: 16.66%; }
  .col-min-sm-2 {
    min-width: 16.66%; }
  .col-max-sm-2 {
    max-width: 16.66%; }
  .col-sm-3, .col-sm-3-center, .col-sm-3-left, .col-sm-3-justify, .col-sm-3-right {
    width: 25%; }
  .col-min-sm-3 {
    min-width: 25%; }
  .col-max-sm-3 {
    max-width: 25%; }
  .col-sm-4, .col-sm-4-center, .col-sm-4-left, .col-sm-4-justify, .col-sm-4-right {
    width: 33.33%; }
  .col-min-sm-4 {
    min-width: 33.33%; }
  .col-max-sm-4 {
    max-width: 33.33%; }
  .col-sm-5, .col-sm-5-center, .col-sm-5-left, .col-sm-5-justify, .col-sm-5-right {
    width: 41.66%; }
  .col-min-sm-5 {
    min-width: 41.66%; }
  .col-max-sm-5 {
    max-width: 41.66%; }
  .col-sm-6, .col-sm-6-center, .col-sm-6-left, .col-sm-6-justify, .col-sm-6-right {
    width: 50%; }
  .col-min-sm-6 {
    min-width: 50%; }
  .col-max-sm-6 {
    max-width: 50%; }
  .col-sm-7, .col-sm-7-center, .col-sm-7-left, .col-sm-7-justify, .col-sm-7-right {
    width: 58.33%; }
  .col-min-sm-7 {
    min-width: 58.33%; }
  .col-max-sm-7 {
    max-width: 58.33%; }
  .col-sm-8, .col-sm-8-center, .col-sm-8-left, .col-sm-8-justify, .col-sm-8-right {
    width: 66.66%; }
  .col-min-sm-8 {
    min-width: 66.66%; }
  .col-max-sm-8 {
    max-width: 66.66%; }
  .col-sm-9, .col-sm-9-center, .col-sm-9-left, .col-sm-9-justify, .col-sm-9-right {
    width: 75%; }
  .col-min-sm-9 {
    min-width: 75%; }
  .col-max-sm-9 {
    max-width: 75%; }
  .col-sm-10, .col-sm-10-center, .col-sm-10-left, .col-sm-10-justify, .col-sm-10-right {
    width: 83.33%; }
  .col-min-sm-10 {
    min-width: 83.33%; }
  .col-max-sm-10 {
    max-width: 83.33%; }
  .col-sm-11, .col-sm-11-center, .col-sm-11-left, .col-sm-11-justify, .col-sm-11-right {
    width: 91.66%; }
  .col-min-sm-11 {
    min-width: 91.66%; }
  .col-max-sm-11 {
    max-width: 91.66%; }
  .col-sm-12, .col-sm-12-center, .col-sm-12-left, .col-sm-12-justify, .col-sm-12-right {
    width: 100%; }
  .col-min-sm-12 {
    min-width: 100%; }
  .col-max-sm-12 {
    max-width: 100%; }
  .col-sm-1, .col-min-sm-1, .col-max-sm-1, .col-sm-1-center, .col-sm-1-left, .col-sm-1-right, .col-sm-1-justify, .col-sm-2, .col-min-sm-2, .col-max-sm-2, .col-sm-2-center, .col-sm-2-left, .col-sm-2-right, .col-sm-2-justify, .col-sm-3, .col-min-sm-3, .col-max-sm-3, .col-sm-3-center, .col-sm-3-left, .col-sm-3-right, .col-sm-3-justify, .col-sm-4, .col-min-sm-4, .col-max-sm-4, .col-sm-4-center, .col-sm-4-left, .col-sm-4-right, .col-sm-4-justify, .col-sm-5, .col-min-sm-5, .col-max-sm-5, .col-sm-5-center, .col-sm-5-left, .col-sm-5-right, .col-sm-5-justify, .col-sm-6, .col-min-sm-6, .col-max-sm-6, .col-sm-6-center, .col-sm-6-left, .col-sm-6-right, .col-sm-6-justify, .col-sm-7, .col-min-sm-7, .col-max-sm-7, .col-sm-7-center, .col-sm-7-left, .col-sm-7-right, .col-sm-7-justify, .col-sm-8, .col-min-sm-8, .col-max-sm-8, .col-sm-8-center, .col-sm-8-left, .col-sm-8-right, .col-sm-8-justify, .col-sm-9, .col-min-sm-9, .col-max-sm-9, .col-sm-9-center, .col-sm-9-left, .col-sm-9-right, .col-sm-9-justify, .col-sm-10, .col-min-sm-10, .col-max-sm-10, .col-sm-10-center, .col-sm-10-left, .col-sm-10-right, .col-sm-10-justify, .col-sm-11, .col-min-sm-11, .col-max-sm-11, .col-sm-11-center, .col-sm-11-left, .col-sm-11-right, .col-sm-11-justify, .col-sm-12, .col-min-sm-12, .col-max-sm-12, .col-sm-12-center, .col-sm-12-left, .col-sm-12-right, .col-sm-12-justify {
    border: none;
    box-sizing: border-box;
    display: inline-block;
    float: none;
    margin-right: -.25em;
    padding-left: .5rem;
    padding-right: .5rem;
    vertical-align: top; }
  .col-sm-1-center, .col-sm-2-center, .col-sm-3-center, .col-sm-4-center, .col-sm-5-center, .col-sm-6-center, .col-sm-7-center, .col-sm-8-center, .col-sm-9-center, .col-sm-10-center, .col-sm-11-center, .col-sm-12-center {
    text-align: center; }
  .col-sm-1-left, .col-sm-2-left, .col-sm-3-left, .col-sm-4-left, .col-sm-5-left, .col-sm-6-left, .col-sm-7-left, .col-sm-8-left, .col-sm-9-left, .col-sm-10-left, .col-sm-11-left, .col-sm-12-left {
    text-align: left; }
  .col-sm-1-right, .col-sm-2-right, .col-sm-3-right, .col-sm-4-right, .col-sm-5-right, .col-sm-6-right, .col-sm-7-right, .col-sm-8-right, .col-sm-9-right, .col-sm-10-right, .col-sm-11-right, .col-sm-12-right {
    text-align: right; }
  .col-sm-1-justify, .col-sm-2-justify, .col-sm-3-justify, .col-sm-4-justify, .col-sm-5-justify, .col-sm-6-justify, .col-sm-7-justify, .col-sm-8-justify, .col-sm-9-justify, .col-sm-10-justify, .col-sm-11-justify, .col-sm-12-justify {
    text-align: justify; }
  .col-min-sm-1, .col-max-sm-1, .col-min-sm-2, .col-max-sm-2, .col-min-sm-3, .col-max-sm-3, .col-min-sm-4, .col-max-sm-4, .col-min-sm-5, .col-max-sm-5, .col-min-sm-6, .col-max-sm-6, .col-min-sm-7, .col-max-sm-7, .col-min-sm-8, .col-max-sm-8, .col-min-sm-9, .col-max-sm-9, .col-min-sm-10, .col-max-sm-10, .col-min-sm-11, .col-max-sm-11, .col-min-sm-12, .col-max-sm-12 {
    width: auto; }
  .col-v-sm-1 {
    height: 8.33%;
    height: 8.33vh; }
  .col-v-min-sm-1 {
    min-height: 8.33%;
    min-height: 8.33vh; }
  .col-v-max-sm-1 {
    max-height: 8.33%;
    max-height: 8.33vh; }
  .col-v-sm-2 {
    height: 16.66%;
    height: 16.66vh; }
  .col-v-min-sm-2 {
    min-height: 16.66%;
    min-height: 16.66vh; }
  .col-v-max-sm-2 {
    max-height: 16.66%;
    max-height: 16.66vh; }
  .col-v-sm-3 {
    height: 25%;
    height: 25vh; }
  .col-v-min-sm-3 {
    min-height: 25%;
    min-height: 25vh; }
  .col-v-max-sm-3 {
    max-height: 25%;
    max-height: 25vh; }
  .col-v-sm-4 {
    height: 33.33%;
    height: 33.33vh; }
  .col-v-min-sm-4 {
    min-height: 33.33%;
    min-height: 33.33vh; }
  .col-v-max-sm-4 {
    max-height: 33.33%;
    max-height: 33.33vh; }
  .col-v-sm-5 {
    height: 41.66%;
    height: 41.66vh; }
  .col-v-min-sm-5 {
    min-height: 41.66%;
    min-height: 41.66vh; }
  .col-v-max-sm-5 {
    max-height: 41.66%;
    max-height: 41.66vh; }
  .col-v-sm-6 {
    height: 50%;
    height: 50vh; }
  .col-v-min-sm-6 {
    min-height: 50%;
    min-height: 50vh; }
  .col-v-max-sm-6 {
    max-height: 50%;
    max-height: 50vh; }
  .col-v-sm-7 {
    height: 58.33%;
    height: 58.33vh; }
  .col-v-min-sm-7 {
    min-height: 58.33%;
    min-height: 58.33vh; }
  .col-v-max-sm-7 {
    max-height: 58.33%;
    max-height: 58.33vh; }
  .col-v-sm-8 {
    height: 66.66%;
    height: 66.66vh; }
  .col-v-min-sm-8 {
    min-height: 66.66%;
    min-height: 66.66vh; }
  .col-v-max-sm-8 {
    max-height: 66.66%;
    max-height: 66.66vh; }
  .col-v-sm-9 {
    height: 75%;
    height: 75vh; }
  .col-v-min-sm-9 {
    min-height: 75%;
    min-height: 75vh; }
  .col-v-max-sm-9 {
    max-height: 75%;
    max-height: 75vh; }
  .col-v-sm-10 {
    height: 83.33%;
    height: 83.33vh; }
  .col-v-min-sm-10 {
    min-height: 83.33%;
    min-height: 83.33vh; }
  .col-v-max-sm-10 {
    max-height: 83.33%;
    max-height: 83.33vh; }
  .col-v-sm-11 {
    height: 91.66%;
    height: 91.66vh; }
  .col-v-min-sm-11 {
    min-height: 91.66%;
    min-height: 91.66vh; }
  .col-v-max-sm-11 {
    max-height: 91.66%;
    max-height: 91.66vh; }
  .col-v-sm-12 {
    height: 100%;
    height: 100vh; }
  .col-v-min-sm-12 {
    min-height: 100%;
    min-height: 100vh; }
  .col-v-max-sm-12 {
    max-height: 100%;
    max-height: 100vh; }
  .col-v-min-sm-1, .col-v-max-sm-1, .col-v-min-sm-2, .col-v-max-sm-2, .col-v-min-sm-3, .col-v-max-sm-3, .col-v-min-sm-4, .col-v-max-sm-4, .col-v-min-sm-5, .col-v-max-sm-5, .col-v-min-sm-6, .col-v-max-sm-6, .col-v-min-sm-7, .col-v-max-sm-7, .col-v-min-sm-8, .col-v-max-sm-8, .col-v-min-sm-9, .col-v-max-sm-9, .col-v-min-sm-10, .col-v-max-sm-10, .col-v-min-sm-11, .col-v-max-sm-11, .col-v-min-sm-12, .col-v-max-sm-12 {
    height: auto; }
  .col-offset-sm-0 {
    margin-left: 0; }
  .col-offset-sm-1 {
    margin-left: 8.33%; }
  .col-offset-sm-2 {
    margin-left: 16.66%; }
  .col-offset-sm-3 {
    margin-left: 25%; }
  .col-offset-sm-4 {
    margin-left: 33.33%; }
  .col-offset-sm-5 {
    margin-left: 41.66%; }
  .col-offset-sm-6 {
    margin-left: 50%; }
  .col-offset-sm-7 {
    margin-left: 58.33%; }
  .col-offset-sm-8 {
    margin-left: 66.66%; }
  .col-offset-sm-9 {
    margin-left: 75%; }
  .col-offset-sm-10 {
    margin-left: 83.33%; }
  .col-offset-sm-11 {
    margin-left: 91.66%; }
  .col-offset-sm-12 {
    margin-left: 100%; } }

@media all and (min-width: 768px) {
  .col-md-0 {
    display: none; }
  .col-md-1, .col-md-1-center, .col-md-1-left, .col-md-1-justify, .col-md-1-right {
    width: 8.33%; }
  .col-min-md-1 {
    min-width: 8.33%; }
  .col-max-md-1 {
    max-width: 8.33%; }
  .col-md-2, .col-md-2-center, .col-md-2-left, .col-md-2-justify, .col-md-2-right {
    width: 16.66%; }
  .col-min-md-2 {
    min-width: 16.66%; }
  .col-max-md-2 {
    max-width: 16.66%; }
  .col-md-3, .col-md-3-center, .col-md-3-left, .col-md-3-justify, .col-md-3-right {
    width: 25%; }
  .col-min-md-3 {
    min-width: 25%; }
  .col-max-md-3 {
    max-width: 25%; }
  .col-md-4, .col-md-4-center, .col-md-4-left, .col-md-4-justify, .col-md-4-right {
    width: 33.33%; }
  .col-min-md-4 {
    min-width: 33.33%; }
  .col-max-md-4 {
    max-width: 33.33%; }
  .col-md-5, .col-md-5-center, .col-md-5-left, .col-md-5-justify, .col-md-5-right {
    width: 41.66%; }
  .col-min-md-5 {
    min-width: 41.66%; }
  .col-max-md-5 {
    max-width: 41.66%; }
  .col-md-6, .col-md-6-center, .col-md-6-left, .col-md-6-justify, .col-md-6-right {
    width: 50%; }
  .col-min-md-6 {
    min-width: 50%; }
  .col-max-md-6 {
    max-width: 50%; }
  .col-md-7, .col-md-7-center, .col-md-7-left, .col-md-7-justify, .col-md-7-right {
    width: 58.33%; }
  .col-min-md-7 {
    min-width: 58.33%; }
  .col-max-md-7 {
    max-width: 58.33%; }
  .col-md-8, .col-md-8-center, .col-md-8-left, .col-md-8-justify, .col-md-8-right {
    width: 66.66%; }
  .col-min-md-8 {
    min-width: 66.66%; }
  .col-max-md-8 {
    max-width: 66.66%; }
  .col-md-9, .col-md-9-center, .col-md-9-left, .col-md-9-justify, .col-md-9-right {
    width: 75%; }
  .col-min-md-9 {
    min-width: 75%; }
  .col-max-md-9 {
    max-width: 75%; }
  .col-md-10, .col-md-10-center, .col-md-10-left, .col-md-10-justify, .col-md-10-right {
    width: 83.33%; }
  .col-min-md-10 {
    min-width: 83.33%; }
  .col-max-md-10 {
    max-width: 83.33%; }
  .col-md-11, .col-md-11-center, .col-md-11-left, .col-md-11-justify, .col-md-11-right {
    width: 91.66%; }
  .col-min-md-11 {
    min-width: 91.66%; }
  .col-max-md-11 {
    max-width: 91.66%; }
  .col-md-12, .col-md-12-center, .col-md-12-left, .col-md-12-justify, .col-md-12-right {
    width: 100%; }
  .col-min-md-12 {
    min-width: 100%; }
  .col-max-md-12 {
    max-width: 100%; }
  .col-md-1, .col-min-md-1, .col-max-md-1, .col-md-1-center, .col-md-1-left, .col-md-1-right, .col-md-1-justify, .col-md-2, .col-min-md-2, .col-max-md-2, .col-md-2-center, .col-md-2-left, .col-md-2-right, .col-md-2-justify, .col-md-3, .col-min-md-3, .col-max-md-3, .col-md-3-center, .col-md-3-left, .col-md-3-right, .col-md-3-justify, .col-md-4, .col-min-md-4, .col-max-md-4, .col-md-4-center, .col-md-4-left, .col-md-4-right, .col-md-4-justify, .col-md-5, .col-min-md-5, .col-max-md-5, .col-md-5-center, .col-md-5-left, .col-md-5-right, .col-md-5-justify, .col-md-6, .col-min-md-6, .col-max-md-6, .col-md-6-center, .col-md-6-left, .col-md-6-right, .col-md-6-justify, .col-md-7, .col-min-md-7, .col-max-md-7, .col-md-7-center, .col-md-7-left, .col-md-7-right, .col-md-7-justify, .col-md-8, .col-min-md-8, .col-max-md-8, .col-md-8-center, .col-md-8-left, .col-md-8-right, .col-md-8-justify, .col-md-9, .col-min-md-9, .col-max-md-9, .col-md-9-center, .col-md-9-left, .col-md-9-right, .col-md-9-justify, .col-md-10, .col-min-md-10, .col-max-md-10, .col-md-10-center, .col-md-10-left, .col-md-10-right, .col-md-10-justify, .col-md-11, .col-min-md-11, .col-max-md-11, .col-md-11-center, .col-md-11-left, .col-md-11-right, .col-md-11-justify, .col-md-12, .col-min-md-12, .col-max-md-12, .col-md-12-center, .col-md-12-left, .col-md-12-right, .col-md-12-justify {
    border: none;
    box-sizing: border-box;
    display: inline-block;
    float: none;
    margin-right: -.25em;
    padding-left: .5rem;
    padding-right: .5rem;
    vertical-align: top; }
  .col-md-1-center, .col-md-2-center, .col-md-3-center, .col-md-4-center, .col-md-5-center, .col-md-6-center, .col-md-7-center, .col-md-8-center, .col-md-9-center, .col-md-10-center, .col-md-11-center, .col-md-12-center {
    text-align: center; }
  .col-md-1-left, .col-md-2-left, .col-md-3-left, .col-md-4-left, .col-md-5-left, .col-md-6-left, .col-md-7-left, .col-md-8-left, .col-md-9-left, .col-md-10-left, .col-md-11-left, .col-md-12-left {
    text-align: left; }
  .col-md-1-right, .col-md-2-right, .col-md-3-right, .col-md-4-right, .col-md-5-right, .col-md-6-right, .col-md-7-right, .col-md-8-right, .col-md-9-right, .col-md-10-right, .col-md-11-right, .col-md-12-right {
    text-align: right; }
  .col-md-1-justify, .col-md-2-justify, .col-md-3-justify, .col-md-4-justify, .col-md-5-justify, .col-md-6-justify, .col-md-7-justify, .col-md-8-justify, .col-md-9-justify, .col-md-10-justify, .col-md-11-justify, .col-md-12-justify {
    text-align: justify; }
  .col-min-md-1, .col-max-md-1, .col-min-md-2, .col-max-md-2, .col-min-md-3, .col-max-md-3, .col-min-md-4, .col-max-md-4, .col-min-md-5, .col-max-md-5, .col-min-md-6, .col-max-md-6, .col-min-md-7, .col-max-md-7, .col-min-md-8, .col-max-md-8, .col-min-md-9, .col-max-md-9, .col-min-md-10, .col-max-md-10, .col-min-md-11, .col-max-md-11, .col-min-md-12, .col-max-md-12 {
    width: auto; }
  .col-v-md-1 {
    height: 8.33%;
    height: 8.33vh; }
  .col-v-min-md-1 {
    min-height: 8.33%;
    min-height: 8.33vh; }
  .col-v-max-md-1 {
    max-height: 8.33%;
    max-height: 8.33vh; }
  .col-v-md-2 {
    height: 16.66%;
    height: 16.66vh; }
  .col-v-min-md-2 {
    min-height: 16.66%;
    min-height: 16.66vh; }
  .col-v-max-md-2 {
    max-height: 16.66%;
    max-height: 16.66vh; }
  .col-v-md-3 {
    height: 25%;
    height: 25vh; }
  .col-v-min-md-3 {
    min-height: 25%;
    min-height: 25vh; }
  .col-v-max-md-3 {
    max-height: 25%;
    max-height: 25vh; }
  .col-v-md-4 {
    height: 33.33%;
    height: 33.33vh; }
  .col-v-min-md-4 {
    min-height: 33.33%;
    min-height: 33.33vh; }
  .col-v-max-md-4 {
    max-height: 33.33%;
    max-height: 33.33vh; }
  .col-v-md-5 {
    height: 41.66%;
    height: 41.66vh; }
  .col-v-min-md-5 {
    min-height: 41.66%;
    min-height: 41.66vh; }
  .col-v-max-md-5 {
    max-height: 41.66%;
    max-height: 41.66vh; }
  .col-v-md-6 {
    height: 50%;
    height: 50vh; }
  .col-v-min-md-6 {
    min-height: 50%;
    min-height: 50vh; }
  .col-v-max-md-6 {
    max-height: 50%;
    max-height: 50vh; }
  .col-v-md-7 {
    height: 58.33%;
    height: 58.33vh; }
  .col-v-min-md-7 {
    min-height: 58.33%;
    min-height: 58.33vh; }
  .col-v-max-md-7 {
    max-height: 58.33%;
    max-height: 58.33vh; }
  .col-v-md-8 {
    height: 66.66%;
    height: 66.66vh; }
  .col-v-min-md-8 {
    min-height: 66.66%;
    min-height: 66.66vh; }
  .col-v-max-md-8 {
    max-height: 66.66%;
    max-height: 66.66vh; }
  .col-v-md-9 {
    height: 75%;
    height: 75vh; }
  .col-v-min-md-9 {
    min-height: 75%;
    min-height: 75vh; }
  .col-v-max-md-9 {
    max-height: 75%;
    max-height: 75vh; }
  .col-v-md-10 {
    height: 83.33%;
    height: 83.33vh; }
  .col-v-min-md-10 {
    min-height: 83.33%;
    min-height: 83.33vh; }
  .col-v-max-md-10 {
    max-height: 83.33%;
    max-height: 83.33vh; }
  .col-v-md-11 {
    height: 91.66%;
    height: 91.66vh; }
  .col-v-min-md-11 {
    min-height: 91.66%;
    min-height: 91.66vh; }
  .col-v-max-md-11 {
    max-height: 91.66%;
    max-height: 91.66vh; }
  .col-v-md-12 {
    height: 100%;
    height: 100vh; }
  .col-v-min-md-12 {
    min-height: 100%;
    min-height: 100vh; }
  .col-v-max-md-12 {
    max-height: 100%;
    max-height: 100vh; }
  .col-v-min-md-1, .col-v-max-md-1, .col-v-min-md-2, .col-v-max-md-2, .col-v-min-md-3, .col-v-max-md-3, .col-v-min-md-4, .col-v-max-md-4, .col-v-min-md-5, .col-v-max-md-5, .col-v-min-md-6, .col-v-max-md-6, .col-v-min-md-7, .col-v-max-md-7, .col-v-min-md-8, .col-v-max-md-8, .col-v-min-md-9, .col-v-max-md-9, .col-v-min-md-10, .col-v-max-md-10, .col-v-min-md-11, .col-v-max-md-11, .col-v-min-md-12, .col-v-max-md-12 {
    height: auto; }
  .col-offset-md-0 {
    margin-left: 0; }
  .col-offset-md-1 {
    margin-left: 8.33%; }
  .col-offset-md-2 {
    margin-left: 16.66%; }
  .col-offset-md-3 {
    margin-left: 25%; }
  .col-offset-md-4 {
    margin-left: 33.33%; }
  .col-offset-md-5 {
    margin-left: 41.66%; }
  .col-offset-md-6 {
    margin-left: 50%; }
  .col-offset-md-7 {
    margin-left: 58.33%; }
  .col-offset-md-8 {
    margin-left: 66.66%; }
  .col-offset-md-9 {
    margin-left: 75%; }
  .col-offset-md-10 {
    margin-left: 83.33%; }
  .col-offset-md-11 {
    margin-left: 91.66%; }
  .col-offset-md-12 {
    margin-left: 100%; } }

@media all and (min-width: 992px) {
  .col-lg-0 {
    display: none; }
  .col-lg-1, .col-lg-1-center, .col-lg-1-left, .col-lg-1-justify, .col-lg-1-right {
    width: 8.33%; }
  .col-min-lg-1 {
    min-width: 8.33%; }
  .col-max-lg-1 {
    max-width: 8.33%; }
  .col-lg-2, .col-lg-2-center, .col-lg-2-left, .col-lg-2-justify, .col-lg-2-right {
    width: 16.66%; }
  .col-min-lg-2 {
    min-width: 16.66%; }
  .col-max-lg-2 {
    max-width: 16.66%; }
  .col-lg-3, .col-lg-3-center, .col-lg-3-left, .col-lg-3-justify, .col-lg-3-right {
    width: 25%; }
  .col-min-lg-3 {
    min-width: 25%; }
  .col-max-lg-3 {
    max-width: 25%; }
  .col-lg-4, .col-lg-4-center, .col-lg-4-left, .col-lg-4-justify, .col-lg-4-right {
    width: 33.33%; }
  .col-min-lg-4 {
    min-width: 33.33%; }
  .col-max-lg-4 {
    max-width: 33.33%; }
  .col-lg-5, .col-lg-5-center, .col-lg-5-left, .col-lg-5-justify, .col-lg-5-right {
    width: 41.66%; }
  .col-min-lg-5 {
    min-width: 41.66%; }
  .col-max-lg-5 {
    max-width: 41.66%; }
  .col-lg-6, .col-lg-6-center, .col-lg-6-left, .col-lg-6-justify, .col-lg-6-right {
    width: 50%; }
  .col-min-lg-6 {
    min-width: 50%; }
  .col-max-lg-6 {
    max-width: 50%; }
  .col-lg-7, .col-lg-7-center, .col-lg-7-left, .col-lg-7-justify, .col-lg-7-right {
    width: 58.33%; }
  .col-min-lg-7 {
    min-width: 58.33%; }
  .col-max-lg-7 {
    max-width: 58.33%; }
  .col-lg-8, .col-lg-8-center, .col-lg-8-left, .col-lg-8-justify, .col-lg-8-right {
    width: 66.66%; }
  .col-min-lg-8 {
    min-width: 66.66%; }
  .col-max-lg-8 {
    max-width: 66.66%; }
  .col-lg-9, .col-lg-9-center, .col-lg-9-left, .col-lg-9-justify, .col-lg-9-right {
    width: 75%; }
  .col-min-lg-9 {
    min-width: 75%; }
  .col-max-lg-9 {
    max-width: 75%; }
  .col-lg-10, .col-lg-10-center, .col-lg-10-left, .col-lg-10-justify, .col-lg-10-right {
    width: 83.33%; }
  .col-min-lg-10 {
    min-width: 83.33%; }
  .col-max-lg-10 {
    max-width: 83.33%; }
  .col-lg-11, .col-lg-11-center, .col-lg-11-left, .col-lg-11-justify, .col-lg-11-right {
    width: 91.66%; }
  .col-min-lg-11 {
    min-width: 91.66%; }
  .col-max-lg-11 {
    max-width: 91.66%; }
  .col-lg-12, .col-lg-12-center, .col-lg-12-left, .col-lg-12-justify, .col-lg-12-right {
    width: 100%; }
  .col-min-lg-12 {
    min-width: 100%; }
  .col-max-lg-12 {
    max-width: 100%; }
  .col-lg-1, .col-min-lg-1, .col-max-lg-1, .col-lg-1-center, .col-lg-1-left, .col-lg-1-right, .col-lg-1-justify, .col-lg-2, .col-min-lg-2, .col-max-lg-2, .col-lg-2-center, .col-lg-2-left, .col-lg-2-right, .col-lg-2-justify, .col-lg-3, .col-min-lg-3, .col-max-lg-3, .col-lg-3-center, .col-lg-3-left, .col-lg-3-right, .col-lg-3-justify, .col-lg-4, .col-min-lg-4, .col-max-lg-4, .col-lg-4-center, .col-lg-4-left, .col-lg-4-right, .col-lg-4-justify, .col-lg-5, .col-min-lg-5, .col-max-lg-5, .col-lg-5-center, .col-lg-5-left, .col-lg-5-right, .col-lg-5-justify, .col-lg-6, .col-min-lg-6, .col-max-lg-6, .col-lg-6-center, .col-lg-6-left, .col-lg-6-right, .col-lg-6-justify, .col-lg-7, .col-min-lg-7, .col-max-lg-7, .col-lg-7-center, .col-lg-7-left, .col-lg-7-right, .col-lg-7-justify, .col-lg-8, .col-min-lg-8, .col-max-lg-8, .col-lg-8-center, .col-lg-8-left, .col-lg-8-right, .col-lg-8-justify, .col-lg-9, .col-min-lg-9, .col-max-lg-9, .col-lg-9-center, .col-lg-9-left, .col-lg-9-right, .col-lg-9-justify, .col-lg-10, .col-min-lg-10, .col-max-lg-10, .col-lg-10-center, .col-lg-10-left, .col-lg-10-right, .col-lg-10-justify, .col-lg-11, .col-min-lg-11, .col-max-lg-11, .col-lg-11-center, .col-lg-11-left, .col-lg-11-right, .col-lg-11-justify, .col-lg-12, .col-min-lg-12, .col-max-lg-12, .col-lg-12-center, .col-lg-12-left, .col-lg-12-right, .col-lg-12-justify {
    border: none;
    box-sizing: border-box;
    display: inline-block;
    float: none;
    margin-right: -.25em;
    padding-left: .5rem;
    padding-right: .5rem;
    vertical-align: top; }
  .col-lg-1-center, .col-lg-2-center, .col-lg-3-center, .col-lg-4-center, .col-lg-5-center, .col-lg-6-center, .col-lg-7-center, .col-lg-8-center, .col-lg-9-center, .col-lg-10-center, .col-lg-11-center, .col-lg-12-center {
    text-align: center; }
  .col-lg-1-left, .col-lg-2-left, .col-lg-3-left, .col-lg-4-left, .col-lg-5-left, .col-lg-6-left, .col-lg-7-left, .col-lg-8-left, .col-lg-9-left, .col-lg-10-left, .col-lg-11-left, .col-lg-12-left {
    text-align: left; }
  .col-lg-1-right, .col-lg-2-right, .col-lg-3-right, .col-lg-4-right, .col-lg-5-right, .col-lg-6-right, .col-lg-7-right, .col-lg-8-right, .col-lg-9-right, .col-lg-10-right, .col-lg-11-right, .col-lg-12-right {
    text-align: right; }
  .col-lg-1-justify, .col-lg-2-justify, .col-lg-3-justify, .col-lg-4-justify, .col-lg-5-justify, .col-lg-6-justify, .col-lg-7-justify, .col-lg-8-justify, .col-lg-9-justify, .col-lg-10-justify, .col-lg-11-justify, .col-lg-12-justify {
    text-align: justify; }
  .col-min-lg-1, .col-max-lg-1, .col-min-lg-2, .col-max-lg-2, .col-min-lg-3, .col-max-lg-3, .col-min-lg-4, .col-max-lg-4, .col-min-lg-5, .col-max-lg-5, .col-min-lg-6, .col-max-lg-6, .col-min-lg-7, .col-max-lg-7, .col-min-lg-8, .col-max-lg-8, .col-min-lg-9, .col-max-lg-9, .col-min-lg-10, .col-max-lg-10, .col-min-lg-11, .col-max-lg-11, .col-min-lg-12, .col-max-lg-12 {
    width: auto; }
  .col-v-lg-1 {
    height: 8.33%;
    height: 8.33vh; }
  .col-v-min-lg-1 {
    min-height: 8.33%;
    min-height: 8.33vh; }
  .col-v-max-lg-1 {
    max-height: 8.33%;
    max-height: 8.33vh; }
  .col-v-lg-2 {
    height: 16.66%;
    height: 16.66vh; }
  .col-v-min-lg-2 {
    min-height: 16.66%;
    min-height: 16.66vh; }
  .col-v-max-lg-2 {
    max-height: 16.66%;
    max-height: 16.66vh; }
  .col-v-lg-3 {
    height: 25%;
    height: 25vh; }
  .col-v-min-lg-3 {
    min-height: 25%;
    min-height: 25vh; }
  .col-v-max-lg-3 {
    max-height: 25%;
    max-height: 25vh; }
  .col-v-lg-4 {
    height: 33.33%;
    height: 33.33vh; }
  .col-v-min-lg-4 {
    min-height: 33.33%;
    min-height: 33.33vh; }
  .col-v-max-lg-4 {
    max-height: 33.33%;
    max-height: 33.33vh; }
  .col-v-lg-5 {
    height: 41.66%;
    height: 41.66vh; }
  .col-v-min-lg-5 {
    min-height: 41.66%;
    min-height: 41.66vh; }
  .col-v-max-lg-5 {
    max-height: 41.66%;
    max-height: 41.66vh; }
  .col-v-lg-6 {
    height: 50%;
    height: 50vh; }
  .col-v-min-lg-6 {
    min-height: 50%;
    min-height: 50vh; }
  .col-v-max-lg-6 {
    max-height: 50%;
    max-height: 50vh; }
  .col-v-lg-7 {
    height: 58.33%;
    height: 58.33vh; }
  .col-v-min-lg-7 {
    min-height: 58.33%;
    min-height: 58.33vh; }
  .col-v-max-lg-7 {
    max-height: 58.33%;
    max-height: 58.33vh; }
  .col-v-lg-8 {
    height: 66.66%;
    height: 66.66vh; }
  .col-v-min-lg-8 {
    min-height: 66.66%;
    min-height: 66.66vh; }
  .col-v-max-lg-8 {
    max-height: 66.66%;
    max-height: 66.66vh; }
  .col-v-lg-9 {
    height: 75%;
    height: 75vh; }
  .col-v-min-lg-9 {
    min-height: 75%;
    min-height: 75vh; }
  .col-v-max-lg-9 {
    max-height: 75%;
    max-height: 75vh; }
  .col-v-lg-10 {
    height: 83.33%;
    height: 83.33vh; }
  .col-v-min-lg-10 {
    min-height: 83.33%;
    min-height: 83.33vh; }
  .col-v-max-lg-10 {
    max-height: 83.33%;
    max-height: 83.33vh; }
  .col-v-lg-11 {
    height: 91.66%;
    height: 91.66vh; }
  .col-v-min-lg-11 {
    min-height: 91.66%;
    min-height: 91.66vh; }
  .col-v-max-lg-11 {
    max-height: 91.66%;
    max-height: 91.66vh; }
  .col-v-lg-12 {
    height: 100%;
    height: 100vh; }
  .col-v-min-lg-12 {
    min-height: 100%;
    min-height: 100vh; }
  .col-v-max-lg-12 {
    max-height: 100%;
    max-height: 100vh; }
  .col-v-min-lg-1, .col-v-max-lg-1, .col-v-min-lg-2, .col-v-max-lg-2, .col-v-min-lg-3, .col-v-max-lg-3, .col-v-min-lg-4, .col-v-max-lg-4, .col-v-min-lg-5, .col-v-max-lg-5, .col-v-min-lg-6, .col-v-max-lg-6, .col-v-min-lg-7, .col-v-max-lg-7, .col-v-min-lg-8, .col-v-max-lg-8, .col-v-min-lg-9, .col-v-max-lg-9, .col-v-min-lg-10, .col-v-max-lg-10, .col-v-min-lg-11, .col-v-max-lg-11, .col-v-min-lg-12, .col-v-max-lg-12 {
    height: auto; }
  .col-offset-lg-0 {
    margin-left: 0; }
  .col-offset-lg-1 {
    margin-left: 8.33%; }
  .col-offset-lg-2 {
    margin-left: 16.66%; }
  .col-offset-lg-3 {
    margin-left: 25%; }
  .col-offset-lg-4 {
    margin-left: 33.33%; }
  .col-offset-lg-5 {
    margin-left: 41.66%; }
  .col-offset-lg-6 {
    margin-left: 50%; }
  .col-offset-lg-7 {
    margin-left: 58.33%; }
  .col-offset-lg-8 {
    margin-left: 66.66%; }
  .col-offset-lg-9 {
    margin-left: 75%; }
  .col-offset-lg-10 {
    margin-left: 83.33%; }
  .col-offset-lg-11 {
    margin-left: 91.66%; }
  .col-offset-lg-12 {
    margin-left: 100%; } }

@media all and (min-width: 1200px) {
  .col-xl-0 {
    display: none; }
  .col-xl-1, .col-xl-1-center, .col-xl-1-left, .col-xl-1-justify, .col-xl-1-right {
    width: 8.33%; }
  .col-min-xl-1 {
    min-width: 8.33%; }
  .col-max-xl-1 {
    max-width: 8.33%; }
  .col-xl-2, .col-xl-2-center, .col-xl-2-left, .col-xl-2-justify, .col-xl-2-right {
    width: 16.66%; }
  .col-min-xl-2 {
    min-width: 16.66%; }
  .col-max-xl-2 {
    max-width: 16.66%; }
  .col-xl-3, .col-xl-3-center, .col-xl-3-left, .col-xl-3-justify, .col-xl-3-right {
    width: 25%; }
  .col-min-xl-3 {
    min-width: 25%; }
  .col-max-xl-3 {
    max-width: 25%; }
  .col-xl-4, .col-xl-4-center, .col-xl-4-left, .col-xl-4-justify, .col-xl-4-right {
    width: 33.33%; }
  .col-min-xl-4 {
    min-width: 33.33%; }
  .col-max-xl-4 {
    max-width: 33.33%; }
  .col-xl-5, .col-xl-5-center, .col-xl-5-left, .col-xl-5-justify, .col-xl-5-right {
    width: 41.66%; }
  .col-min-xl-5 {
    min-width: 41.66%; }
  .col-max-xl-5 {
    max-width: 41.66%; }
  .col-xl-6, .col-xl-6-center, .col-xl-6-left, .col-xl-6-justify, .col-xl-6-right {
    width: 50%; }
  .col-min-xl-6 {
    min-width: 50%; }
  .col-max-xl-6 {
    max-width: 50%; }
  .col-xl-7, .col-xl-7-center, .col-xl-7-left, .col-xl-7-justify, .col-xl-7-right {
    width: 58.33%; }
  .col-min-xl-7 {
    min-width: 58.33%; }
  .col-max-xl-7 {
    max-width: 58.33%; }
  .col-min-xl-8 {
    min-width: 66.66%; }
  .col-xl-8, .col-xl-8-center, .col-xl-8-left, .col-xl-8-justify, .col-xl-8-right {
    width: 66.66%; }
  .col-max-xl-8 {
    max-width: 66.66%; }
  .col-xl-9, .col-xl-9-center, .col-xl-9-left, .col-xl-9-justify, .col-xl-9-right {
    width: 75%; }
  .col-min-xl-9 {
    min-width: 75%; }
  .col-max-xl-9 {
    max-width: 75%; }
  .col-xl-10, .col-xl-10-center, .col-xl-10-left, .col-xl-10-justify, .col-xl-10-right {
    width: 83.33%; }
  .col-min-xl-10 {
    min-width: 83.33%; }
  .col-max-xl-10 {
    max-width: 83.33%; }
  .col-xl-11, .col-xl-11-center, .col-xl-11-left, .col-xl-11-justify, .col-xl-11-right {
    width: 91.66%; }
  .col-min-xl-11 {
    min-width: 91.66%; }
  .col-max-xl-11 {
    max-width: 91.66%; }
  .col-xl-12, .col-xl-12-center, .col-xl-12-left, .col-xl-12-justify, .col-xl-12-right {
    width: 100%; }
  .col-min-xl-12 {
    min-width: 100%; }
  .col-max-xl-12 {
    max-width: 100%; }
  .col-xl-1, .col-min-xl-1, .col-max-xl-1, .col-xl-1-center, .col-xl-1-left, .col-xl-1-right, .col-xl-1-justify, .col-xl-2, .col-min-xl-2, .col-max-xl-2, .col-xl-2-center, .col-xl-2-left, .col-xl-2-right, .col-xl-2-justify, .col-xl-3, .col-min-xl-3, .col-max-xl-3, .col-xl-3-center, .col-xl-3-left, .col-xl-3-right, .col-xl-3-justify, .col-xl-4, .col-min-xl-4, .col-max-xl-4, .col-xl-4-center, .col-xl-4-left, .col-xl-4-right, .col-xl-4-justify, .col-xl-5, .col-min-xl-5, .col-max-xl-5, .col-xl-5-center, .col-xl-5-left, .col-xl-5-right, .col-xl-5-justify, .col-xl-6, .col-min-xl-6, .col-max-xl-6, .col-xl-6-center, .col-xl-6-left, .col-xl-6-right, .col-xl-6-justify, .col-xl-7, .col-min-xl-7, .col-max-xl-7, .col-xl-7-center, .col-xl-7-left, .col-xl-7-right, .col-xl-7-justify, .col-xl-8, .col-min-xl-8, .col-max-xl-8, .col-xl-8-center, .col-xl-8-left, .col-xl-8-right, .col-xl-8-justify, .col-xl-9, .col-min-xl-9, .col-max-xl-9, .col-xl-9-center, .col-xl-9-left, .col-xl-9-right, .col-xl-9-justify, .col-xl-10, .col-min-xl-10, .col-max-xl-10, .col-xl-10-center, .col-xl-10-left, .col-xl-10-right, .col-xl-10-justify, .col-xl-11, .col-min-xl-11, .col-max-xl-11, .col-xl-11-center, .col-xl-11-left, .col-xl-11-right, .col-xl-11-justify, .col-xl-12, .col-min-xl-12, .col-max-xl-12, .col-xl-12-center, .col-xl-12-left, .col-xl-12-right, .col-xl-12-justify {
    border: none;
    box-sizing: border-box;
    display: inline-block;
    float: none;
    margin-right: -.25em;
    padding-left: .5rem;
    padding-right: .5rem;
    vertical-align: top; }
  .col-xl-1-center, .col-xl-2-center, .col-xl-3-center, .col-xl-4-center, .col-xl-5-center, .col-xl-6-center, .col-xl-7-center, .col-xl-8-center, .col-xl-9-center, .col-xl-10-center, .col-xl-11-center, .col-xl-12-center {
    text-align: center; }
  .col-xl-1-left, .col-xl-2-left, .col-xl-3-left, .col-xl-4-left, .col-xl-5-left, .col-xl-6-left, .col-xl-7-left, .col-xl-8-left, .col-xl-9-left, .col-xl-10-left, .col-xl-11-left, .col-xl-12-left {
    text-align: left; }
  .col-xl-1-right, .col-xl-2-right, .col-xl-3-right, .col-xl-4-right, .col-xl-5-right, .col-xl-6-right, .col-xl-7-right, .col-xl-8-right, .col-xl-9-right, .col-xl-10-right, .col-xl-11-right, .col-xl-12-right {
    text-align: right; }
  .col-xl-1-justify, .col-xl-2-justify, .col-xl-3-justify, .col-xl-4-justify, .col-xl-5-justify, .col-xl-6-justify, .col-xl-7-justify, .col-xl-8-justify, .col-xl-9-justify, .col-xl-10-justify, .col-xl-11-justify, .col-xl-12-justify {
    text-align: justify; }
  .col-min-xl-1, .col-max-xl-1, .col-min-xl-2, .col-max-xl-2, .col-min-xl-3, .col-max-xl-3, .col-min-xl-4, .col-max-xl-4, .col-min-xl-5, .col-max-xl-5, .col-min-xl-6, .col-max-xl-6, .col-min-xl-7, .col-max-xl-7, .col-min-xl-8, .col-max-xl-8, .col-min-xl-9, .col-max-xl-9, .col-min-xl-10, .col-max-xl-10, .col-min-xl-11, .col-max-xl-11, .col-min-xl-12, .col-max-xl-12 {
    width: auto; }
  .col-v-xl-1 {
    height: 8.33%;
    height: 8.33vh; }
  .col-v-min-xl-1 {
    min-height: 8.33%;
    min-height: 8.33vh; }
  .col-v-max-xl-1 {
    max-height: 8.33%;
    max-height: 8.33vh; }
  .col-v-xl-2 {
    height: 16.66%;
    height: 16.66vh; }
  .col-v-min-xl-2 {
    min-height: 16.66%;
    min-height: 16.66vh; }
  .col-v-max-xl-2 {
    max-height: 16.66%;
    max-height: 16.66vh; }
  .col-v-xl-3 {
    height: 25%;
    height: 25vh; }
  .col-v-min-xl-3 {
    min-height: 25%;
    min-height: 25vh; }
  .col-v-max-xl-3 {
    max-height: 25%;
    max-height: 25vh; }
  .col-v-xl-4 {
    height: 33.33%;
    height: 33.33vh; }
  .col-v-min-xl-4 {
    min-height: 33.33%;
    min-height: 33.33vh; }
  .col-v-max-xl-4 {
    max-height: 33.33%;
    max-height: 33.33vh; }
  .col-v-xl-5 {
    height: 41.66%;
    height: 41.66vh; }
  .col-v-min-xl-5 {
    min-height: 41.66%;
    min-height: 41.66vh; }
  .col-v-max-xl-5 {
    max-height: 41.66%;
    max-height: 41.66vh; }
  .col-v-xl-6 {
    height: 50%;
    height: 50vh; }
  .col-v-min-xl-6 {
    min-height: 50%;
    min-height: 50vh; }
  .col-v-max-xl-6 {
    max-height: 50%;
    max-height: 50vh; }
  .col-v-xl-7 {
    height: 58.33%;
    height: 58.33vh; }
  .col-v-min-xl-7 {
    min-height: 58.33%;
    min-height: 58.33vh; }
  .col-v-max-xl-7 {
    max-height: 58.33%;
    max-height: 58.33vh; }
  .col-v-xl-8 {
    height: 66.66%;
    height: 66.66vh; }
  .col-v-min-xl-8 {
    min-height: 66.66%;
    min-height: 66.66vh; }
  .col-v-max-xl-8 {
    max-height: 66.66%;
    max-height: 66.66vh; }
  .col-v-xl-9 {
    height: 75%;
    height: 75vh; }
  .col-v-min-xl-9 {
    min-height: 75%;
    min-height: 75vh; }
  .col-v-max-xl-9 {
    max-height: 75%;
    max-height: 75vh; }
  .col-v-xl-10 {
    height: 83.33%;
    height: 83.33vh; }
  .col-v-min-xl-10 {
    min-height: 83.33%;
    min-height: 83.33vh; }
  .col-v-max-xl-10 {
    max-height: 83.33%;
    max-height: 83.33vh; }
  .col-v-xl-11 {
    height: 91.66%;
    height: 91.66vh; }
  .col-v-min-xl-11 {
    min-height: 91.66%;
    min-height: 91.66vh; }
  .col-v-max-xl-11 {
    max-height: 91.66%;
    max-height: 91.66vh; }
  .col-v-xl-12 {
    height: 100%;
    height: 100vh; }
  .col-v-min-xl-12 {
    min-height: 100%;
    min-height: 100vh; }
  .col-v-max-xl-12 {
    max-height: 100%;
    max-height: 100vh; }
  .col-v-min-xl-1, .col-v-max-xl-1, .col-v-min-xl-2, .col-v-max-xl-2, .col-v-min-xl-3, .col-v-max-xl-3, .col-v-min-xl-4, .col-v-max-xl-4, .col-v-min-xl-5, .col-v-max-xl-5, .col-v-min-xl-6, .col-v-max-xl-6, .col-v-min-xl-7, .col-v-max-xl-7, .col-v-min-xl-8, .col-v-max-xl-8, .col-v-min-xl-9, .col-v-max-xl-9, .col-v-min-xl-10, .col-v-max-xl-10, .col-v-min-xl-11, .col-v-max-xl-11, .col-v-min-xl-12, .col-v-max-xl-12 {
    height: auto; }
  .col-offset-xl-0 {
    margin-left: 0; }
  .col-offset-xl-1 {
    margin-left: 8.33%; }
  .col-offset-xl-2 {
    margin-left: 16.66%; }
  .col-offset-xl-3 {
    margin-left: 25%; }
  .col-offset-xl-4 {
    margin-left: 33.33%; }
  .col-offset-xl-5 {
    margin-left: 41.66%; }
  .col-offset-xl-6 {
    margin-left: 50%; }
  .col-offset-xl-7 {
    margin-left: 58.33%; }
  .col-offset-xl-8 {
    margin-left: 66.66%; }
  .col-offset-xl-9 {
    margin-left: 75%; }
  .col-offset-xl-10 {
    margin-left: 83.33%; }
  .col-offset-xl-11 {
    margin-left: 91.66%; }
  .col-offset-xl-12 {
    margin-left: 100%; } }
