/* http://www.siteduzero.com/tutoriel-3-37795-creer-un-menu-horizontal-deroulant-en-css.html#ss_part_2 */

#menu, #menu ul {
	line-height: 30px;
	list-style-type: none;
}

#menu li /* Éléments des listes */      
{ 
        float : left; 
		margin-right:20px;
}

#menu li .menu-et {
	display: block;
	height: 30px;
	width: 30px;
	text-indent: -50000px;
	background-image: url(../images/et-off.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#menu li .menu-et:hover {
	background-image: url(../images/et-on.png);
}

#menu li ul /* Sous-listes */
{ 
        position: absolute; /* Position absolue */
        width: 200px; /*Largeur des sous-listes */
		left: -999em; /* Hop, on envoie loin du champ de vision */
}

#menu li ul li /* Eléments de sous-listes */
{
       border-left : 1px solid #F00; /* on met une bordure autour de chaque élément d'une sous-liste */
	   margin:0 0 5px 0;
	   padding-left:5px;
}

#menu li ul li a /* Couleur des liens dans les sous-(sous)-listes */
{
	   color:#808080;
}

#menu li ul li a:hover /* Couleur des liens dans les sous-(sous)-listes */
{
	   color:#F00;
}

#menu li ul ul /* Eléments de sous-sous-listes */
{
        margin    : -29px 0 0 155px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 
        line-height: 30px;
}

#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
{
        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */
}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}

#global #contenu #menu-interne ul {
	list-style-type: none;
}
#global #contenu #menu-interne ul li {
	float: right;
	margin-left: 15px;
}

#menu-interne .menu-plus {
	display: block;
	height: 31px;
	width: 31px;
	text-indent: -50000px;
	background-image: url(../images/plus-off.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#menu-interne .menu-plus:hover {
	background-image: url(../images/plus-on.png);
}