@charset "UTF-8";
#droite {
	overflow-y: auto;
	height: 525px;
}

#droite h2{
	font-size: 24px;
	font-weight: normal;
	color: #6495ED;
	margin-bottom: 10px;
}

#droite h3{
	margin-top:20px;
	margin-bottom:10px;	
	font-size:20px;
	font-weight:normal;
}

#droite p {
	margin-top:5px;	
	margin-bottom:10px;
}

#droite .telecharg {
	height:52px;
	line-height:52px;
}

#droite .telecharg img {
	float:left;
	margin-right:15px;	
}